<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="templates/css/bootstrap.min.css">
<script src="templates/js/bootstrap.min.js"></script>
      <title>Tatvic TMT</title>
</head>
<body>
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">TMT</h1>
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
</body>
</html>